*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Compliance Sans";
    src: url("../../public/assets/fonts/Faithful.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    background: linear-gradient(#6e0000, #000);
    min-height: 100vh;
    font-family: "Compliance Sans";
}

header {
    padding-block: 15px;
    padding-inline: 25px;
    background: rgba(0, 0, 0, 0.4);
    margin-bottom: 32px;
}

.container {
    max-width: 1220px;
    padding-inline: 10px;
    margin-inline: auto;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav__list {
    display: flex;
    column-gap: 20px;
}

ul {
    list-style: none;
}

.nav__item a {
    font-size: 22px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__inner {
    margin-bottom: 30px;
}

.promotions {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
    row-gap: 16px;
}

.promotions__card {
    display: flex;
    flex-direction: column;
    column-gap: 16px;
    padding-inline: 16px;
    padding-block: 32px;
    background-color: rgba(0, 0, 0, 0.22);
    border-radius: 16px;
    width: 50%;
}

.promotions__img {
    border-radius: 12px;
}

.promotions__info {
    text-align: center;
    color: white;
}

.promotions__link {
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.58);
    border-radius: 30px;
    padding-inline: 34px;
    margin-top: 12px;
    padding-block: 4px;
}

.promotions__text {
    white-space: pre-line;
}

.account {
    padding-inline: 32px;
    padding-block: 16px;
    background-color: rgba(0, 0, 0, 0.22);
    border-radius: 16px;
    width: max-content;
    margin-inline: auto;

    h2 {
        text-align: center;
        color: white;
        margin-bottom: 16px;
    }
}

.account__left {
    img {
        margin-bottom: 12px;
    }
}

.account__left-img-wrapper {
    display: flex;
    justify-self: center;
}

.account__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    color: white;
}

.account__fio {
    font-size: 20px;
    text-align: center;
}

.account__phone {
    text-align: center;
}

.account__balance {
    background-color: rgba(42, 42, 42, 0.6);
    border-radius: 16px;
    padding-block: 16px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    align-self: start;
}

.account__balance-title {
    font-size: 24px;
    text-align: center;
}

.account__balance-value {
    font-size: 32px;
    text-align: center;
}

.account__balance-links {
    display: flex;
    justify-content: space-between;
    column-gap: 14px;
    margin-top: auto;

    a {
        display: block;
        border-radius: 16px;
        background-color: #bc0000;
        padding-inline: 16px;
        cursor: pointer;
    }
}

.account__community {
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    background-color: rgba(42, 42, 42, 0.6);
    border-radius: 16px;
    width: 200px;

    > div {
        display: flex;
        justify-content: space-between;
    }
}

.about__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 52px;
    color: white;
    height: 400px;
}

@media (max-width: 1024px) {
    .about__inner {
        max-width: 70%;
        margin-inline: auto;
        flex-direction: column;
        row-gap: 32px;
        height: min-content;
    }

    .contacts {
        width: 100% !important;
    }
}

.reviews {
    padding-block: 32px;
    color: white;

    h2 {
        margin-bottom: 22px;
    }
}

.contacts {
    width: 50%;
    padding-inline: 20px;
    padding-block: 16px;
    background-color: rgba(42, 42, 42, 0.6);
    border-radius: 16px;
}

.review {
    display: flex;
    column-gap: 16px;
    border-radius: 14px;
    background-color: rgba(42, 42, 42, 0.6);
    padding-inline: 14px;
    padding-block: 10px;

    img {
        max-width: 42px;
        max-height: 42px;
        aspect-ratio: 1/1;
    }
}

.reviews{
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}

.review__name {
    font-size: 1rem;
}

.review__text{
    font-size: 14px;
    line-height: 100%;
}

@media (max-width: 1024px) {
    .promotions {
        flex-direction: column;
        align-items: center;
    }

    .promotions__card {
        width: 80%;
    }
}

@media (max-width: 724px) {
    .promotions__card {
        width: 100%;
    }
}

@media (max-width: 724px) {
    .account__inner {
        flex-direction: column;
        row-gap: 16px;
    }

    .account__community {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .about__inner {
        max-width: 100%;
    }
}
